# Build outputs
bin/
obj/

# IDE
.vs/
.vscode/

# Local config
.config/

# Temporary
*.log
*.tmp
/Scripts
/GameEngine/.vs
/GameEngine/bin
/GameEngine/obj
/ScriptParser/bin
/ScriptParser/obj
/GameApp/bin
/GameApp/obj
/BuildTool/bin
/BuildTool/obj
